.layer1 {
    width: 450px;
    margin-top: 250px;
    border-radius: 8px;
    box-shadow: 0 0 25px 1px rgb(235,235, 235);
    padding-bottom: 18px;
}
.title1 {
    background-color: #800000;
    color: whitesmoke;
    height: 45px;
}
.title h6 {
    padding-top: 13px;
    font-family: 'Segoe UI';
}
table{
    width: 90%;
}
.btn{
    width: 80%;
}
.form{
    margin-top: 15px;
    width: 80%;
    text-align: center;
}
